@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'mixins';
@import 'global';

.header {
  padding: 60px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  display: flex;
  font-size: 18px;
  line-height: 1.3;
  align-items: center;
  
  &__list {
    display: flex;
    margin-right: 50px;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }
  &__link {
    @extend .status;
  }
}

.user-nav {
  position: relative;
  display: flex;

  &__svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: $darkBlue-900;
    transition: stroke 0.4s;
  }

  &__link:not(:last-child) {
    margin-right: 13px;
  }

  &__link {
    padding: 7px 10px;
    @extend .status-icon;
  }

  &__link:hover &__num {
    color: $dark;
    background-color: #ffffff;
  }

    &__link:hover &__svg {
    stroke: white;
  }

    &__link:active &__num {
    color: #ffffff;
    background-color: $orange-900;
  }

    &__link:active &__svg {
    stroke: $dark;
  }

  &__num {
    display: block;
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
    top: 5px;
    right: 5px;
    background-color: $orange-900;
    color: #ffffff;
    transition: background-color 0.4s, color 0.4s;
  }
}

.logo {
  display: inline-block;
  transition: box-shadow 0.4s, opacity 0.4s;
  outline: 0;
  border-radius: 5px;
  width: 200px;
  height: 39px;

// Не могу понять почему не работает object-fit. Ширина ыфиксируется, а высота нет. 

  &__img {
    object-fit: contain;
    height: 100%;
  }

  &:focus {
    box-shadow: 0 0 0 2px $focus-color; 
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.button {
  padding: 12px 32px;
  background-color: $orange-900;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid $orange-900;
  font-size: 18px;
  line-height: 1.3;
  outline: 0;
  transition: box-shadow 0.4s, background-color 0.4s, color 0.4s;

  &:focus {
    box-shadow: 0 0 0 2px $focus-color;
    background-color: $accent-background-light;
    color: $orange-900;
  }

  &:hover {
    background-color: $hover-color;
    color: $orange-900;
  }

  &:active {
    background-color: $accent-background-light;
    color: $orange-900;
  }

  &--size-m {
  font-size: 14px;
  line-height: 1.2;
  padding: 7px 16px;
  }
}

.hero {
  &__content {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 159px);
  }

  &__content-left {
    margin-top: 170px;
    max-width: 450px;
    width: 100%;
  }

  &__title, &__title-text {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 1.3;
    color: $darkBlue-900;
    text-transform: uppercase;
    @include line-clamp(66, 1.3, 3);
  }

  &__title-text {
    color: $orange-900;
    margin-bottom: 20px;
    @include line-clamp(66, 1.3, 2);
  }

  &__text {
    color: $dark;
    margin-bottom: 20px;
    @include line-clamp(20, 1.5, 4);
  }

  &__content-right {
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 560px;
    width: 100%;
  }

  &__button {
    margin-right: 34px;
  }
}

.link {
  @extend .status;

  &--popular-categories {
  text-decoration-line: underline;
  }
}

.popular-categories {
  margin-bottom: 120px;
  text-align: center;

    &__menu-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 60px;
  }
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.3;
  color: $darkBlue-900;
  text-align: center;

  &--popular-categories {
    margin-bottom: 60px;
  }
}

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 45px;

  &__item:not(last-child) {
    margin-right: 20px;
  }

  &__svg {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }

  &__btn {
  display: flex;
  padding: 13px 32px;
  color: #363853;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  align-items: center;
  outline: 0;
  transition: border-color 0.4s, color 0.4s, background-color 0.4s, box-shadow 0.4s, fill 0.4s;

  &:focus {
    border-color: $orange-900;
  }

  &:hover {
  border-color: $orange-900;
  color: $orange-900;
  background-color: $accent-background-light;
  .filter__svg {
    fill: $orange-900;
    }
  }

  &:hover:active {
    box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);
    color: $dark;
  .filter__svg {
    fill: $dark;
      } 
    }
  }
}

.food-card {
  background-color: #ffffff;
  max-width: 210px;
  height: 299px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ECECEC;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.4s;

  &:hover {
    box-shadow: 0 0 0 1px #FF6838;
  }

  &__img {
  margin-bottom: 10px;
  object-fit: contain;
  }

  &__title {
  width: 180px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: dark;
  text-align: center;
  margin-bottom: 10px;
  @include line-clamp(15, 1.2, 2);
  }

  &__price {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 15px;
  }
}

.mixitup-control-active {
  background-color: $orange-900;
  border-color: $orange-900;
  color: #ffffff;
  .filter__svg {
  fill: #ffffff;
  }
}

.stay-home {
  margin-bottom: 120px;
  margin: 120px 0;

  .title--stay-home {
    padding-top: 60px;
    text-align: left;
    margin-bottom: 30px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    margin: 0 70px;
  }

  &__right {
    max-width: 470px;
    width: 100%;
  }

  &__text {
    @include line-clamp(20, 1.5, 3);
    margin-bottom: 30px;
  }

  &__left {
    background-image: url(../images/stay-home-Gay.png);
    max-width: 440px;
    width: 100%;
    height: 585px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 120px;
  }

  &__item {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 1.5;


  &:not(:last-child) {
    margin-bottom: 20px;
    }
  }

  &__svg {
    margin-right: 30px;
    fill: $orange-900;
    width: 34px;
    height: 34px;

    &--Timer {
      fill: $orange-900;
    }

    &--Delivery {
      fill: #00AAFF;
    }

    &--Resturent {
      fill: #FF2222;
    }
  }
}

.restaurants {
  margin-bottom: 120px;
  &--title {
    margin-bottom: 45px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }

  &__item {
    transition: box-shadow 0.4s;

  &:hover {
    box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
    }
  }

  &__img {
    object-fit: fill;
    height: 300px;
  }

  &__info {
    padding: 0 20px;
    height: 120px;
    max-width: 370px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
  }

  &__title {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    color: $dark;
  }

  &__info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__time {
    padding-left: 32px;
    position: relative;
    font-weight: 300;

    &::before {
    content: "";
    position: absolute;
    background-image: url(../images/icons/timer.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
    top: 0px;
    left: 0;
    }
  }

  &__link {
    padding: 4px 28px;
    border-radius: 20px;
    height: 33px;
    background-color: $orange-900;
    border: 2px solid transparent;
    transition: border-color 0.4s, box-shadow 0.4s, background-color 0.4s, padding 0.4s;

    &:focus {
      border-color: $orange-900;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      background-color: #FFF2ED;
      .restaurants__svg {
        fill: $orange-900;
      }
    }

    &:hover {
      border-color: $orange-900;
      background-color: #ffffff;
      padding: 4px 7px 5px 48px;
      .restaurants__svg {
        fill: $orange-900;
      }
    }
    
    &:active {
      border-color: transparent;
      background-color: #FFF2ED;;
      padding: 4px 28px;
      .restaurants__svg {
        fill: $orange-900;
      }
    }
  }

  &__svg {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    transition: fill 0.4s;
  }
}

.footer {
  padding-top: 120px;
  position: relative;

  &::before {
  content: "";
  background-color: #C2C2C2;
  width: 100vw;
  height: 1px;
  bottom: 74px;
  position: absolute;
  }

  &__top {
    display: flex;
    padding-bottom: 60px;
  }

  &--logo {
    margin-bottom: 30px;
  }

  &__email {
    display: block;
    margin-top: -5px;
    margin-bottom: 12px;
  }

  &__list {
    column-count: 3;
    column-gap: 70px;
    font-size: 18px;
    line-height: 1.3;
    margin-right: 70px;
    letter-spacing: 0.01em;
  }

    &__item {
    letter-spacing: 0.01em;
    margin-right: 70px;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__input {
    width: 200px;
    padding: 12px 15px;
    border: 1px solid $gray;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.3;
    color: black;
  }

  &--btn {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    padding: 13px 36px;
    position: relative;

  .button__svg {
    margin-right: 15px;
    width: 16px;
    height: 16px;
    fill: #ffffff;
    }
  }

  &--btn:focus {
  .button__svg  {
    fill: $orange-900;
    }
  }

  &--btn:hover {
  .button__svg {
    fill: $orange-900;
    }
  }

  &__bottom {
    display: flex;
  }

  &__text {
    padding: 30px 0;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
  }
}

.contact {
  font-size: 16px;
  line-height: 2;
  font-style: normal;
  &__list {
    margin-bottom: 15px;
  }
  &__link {
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    padding: 4px;
    padding-left: 31px;
  }
  &__link--adds {
    background-image: url(../images/icons/adds.svg);  
  }
  &__link--tel {
    background-image: url(../images/icons/tel.svg);  
  }
  &__link--email {
    background-image: url(../images/icons/email.svg);   
  }
}

.cocial {
  display: flex;
  justify-content: flex-start;

  &__item:not(:last-child){
    margin-right: 13px;
  }

  &__link {
    display: block;
    background-color: $silver-200;
    width: 39px;
    height: 39px;
    outline: 0;
    border: 1px solid transparent; 
    border-radius: 50%;
    transition: border-radius 0.4s, box-shadow 0.4s, background-color 0.4s;
    position: relative;
  }

  &__svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 22%;
    left: 23%;
    transition: fill 0.4s;
  }

  &__link:hover {
    background-color: $orange-900;
    .cocial__svg {
      fill: #ffffff;
    }
  }

  &__link:focus {
    border-color: $orange-900;
    background-color: #FFF2ED;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    .cocial__svg {
      fill: #000000;
    }
  }

  &__link:active {
    background-color: #FFF2ED;
    .cocial__svg {
      fill: $orange-900;
    }
  }
}

.reviews {
  margin-bottom: 122px;

  &--title{
    margin-bottom: 45px;
  }

  &__item-slider {
    margin: 0 90px;
    margin-bottom: 48px;
  }

  &__item-content {
    display: flex ;
    align-items: center;
  }

  &__quote {
    font-style: italic;
    max-width: 650px;
    padding: 0 40px;
    position: relative;
  }

  &__author {
    border-radius: 50%;
    margin-right: 40px;
  }

  &__text {
    margin-bottom: 30px;
    @include line-clamp(20, 1.5, 5);

    &::after {
    content: "";
    position: absolute;
    background-image: url(../images/icons/right“.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 20px;
    right: 0;
  }

    &::before {
    content: "";
    position: absolute;
    background-image: url(../images/icons/left“.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 20px;
    left: 0;
    }
  }

  &__quote-author {
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 1.3;
    color: $orange-900;
    font-style: normal;
  }

  &__quote-profession {
    display: block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
  }

  .slick-arrow {
    font-size: 0;
    width: 40px;
    height: 40px;
    border: 3px solid $gray;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
  }

  .slick-prev {
    top: 350px;
    left: 38%;
    transform: translateX(30px);
    transition: border-color 0.4s, background-color 0.4s;
    @extend .status-dots;
    &::before {
      content: "";
      background-image: url(../images/icons/arrow-slider.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 19px;
      height: 19px;
      top: 8px;
      left: 11px;
    }
  }

  .slick-next {
    top: 350px;
    left: 54%;
    transform: translateX(30px);
    transition: border-color 0.4s, background-color 0.4s;
    @extend .status-dots;
    &::before {
      content: "";
      background-image: url(../images/icons/arrow-slider.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 19px;
      height: 19px;
      top: 8px;
      left: 5px;
      transform: rotate(180deg);
    }
  }


  .slick-dots {
    display: flex;
    justify-content: center; 
    position: relative;

    li:not(:last-child) {
      margin-right: 15px;
    }

    li {
      button {
        width: 15px;
        height: 15px;
        font-size: 0;
        border-radius: 50%;
        border-color: $gray;
        border: 1px solid transparent;
      }

    &.slick-active {
      button {
        @extend .status-dots;
        transition: border-color 0.4s, background-color 0.4s;
        background-color: $orange-900;
        }
      }
    }
  }
}

.mobile-app {
  text-align: left;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__right {
    margin-right: 60px;
  }

  .title--mobile-app {
    text-align: left;
    margin-bottom: 45px;
    max-width: 540px;
  }

  &__text {
    margin-bottom: 30px;
    max-width: 530px;
    @include line-clamp(20, 1.5, 3);
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    display: block;

    &--App-Store {
      background-image: url(../images/icons/App-Store.svg);
      width: 120px;
    }

    &--Google-Play {
      background-image: url(../images/icons/Google-Play.svg);
      width: 135px;
    }
  }
}



@import 'media';